{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Resources for English Olympiad</title>
    <link rel="stylesheet" href="{% static 'fontawesome/fontawesome-free-6.7.1-web/css/all.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>
    <header>
        <img class="left-image" src="{% static 'images/Preview.png' %}" alt="Пример">
        <div class="content-below-image">
            <h1>The Role of Social Networks in Learning English</h1>
            <div class="social-item">
    <div class="icon-with-text">
        <i class="fab fa-youtube"></i>
        <span class="social-meaning">YouTube</span>
        <div class="arrow-container">
            <i class="fa-solid fa-chevron-down"></i>
            <ul class="dropdown-menu">
                <li><a href="https://www.youtube.com/@TED" target="_blank">TED</a></li>
                <li><a href="https://www.youtube.com/c/EnglexSchool" target="_blank">Инглекс</a></li>
                <li><a href="https://www.youtube.com/@skyengschool/featured" target="_blank">Skyeng: онлайн-школа английского языка
                </a></li>
                <li><a href="https://www.youtube.com/@EnglishMaria" target="_blank">EnglishMaria</a></li>
            </ul>
        </div>
    </div>
</div>

            <div class="social-item">
    <div class="icon-with-text">
        <i class="fab fa-instagram"></i>
        <span class="social-meaning">Instagram</span>
        <div class="arrow-container">
            <i class="fa-solid fa-chevron-down"></i>
            <ul class="dropdown-menu">
                        <li><a href="https://instagram.com/eng_vlada" target="_blank">@eng_vlada</a></li>
                        <li><a href="https://instagram.com/kevinteacherdowsett " target="_blank">@kevinteacherdowsett </a></li>
                        <li><a href="https://instagram.com/lazy_english" target="_blank">@lazy_english</a></li>
                    </ul>
        </div>
    </div>
</div>

                <div class="social-item">
                    <div class="icon-with-text">
                        <i class="fab fa-tiktok"></i>
                        <span class="social-meaning">TikTok</span>
                        <div class="arrow-container">
                        <i class="fa-solid fa-chevron-down"></i>

 <ul class="dropdown-menu">
    <li><a href="https://www.tiktok.com/@englinash?lang=en" target="_blank">@ENGLINASH</a></li>
    <li><a href="https://www.tiktok.com/@zaharzhadaev.english" target="_blank">@zaharzhadaev.english</a></li>
    <li><a href="https://www.tiktok.com/@englishfuns" target="_blank">@englishfuns</a></li>
</ul>
                   </div>
                </div>
            </div>
        </div>

        <img class="left-image" src="{% static 'images/UK_proz.png' %}">
    </header>

<div class="banner-wrapper">
    <button class="scroll-button left" onclick="scrollLeftCustom()">&#8592;</button>
    <div class="banner-container">
        <div class="banner banner1">
            <h3>TED</h3>
            <img src=" {% static 'images/TED.jpg'%}">
            <p>Популяризирует знания о технологиях, дизайне и других сферах жизни.</p>
        </div>
        <div class="banner banner2">
            <h3>Englex</h3>
            <img src=" {% static 'images/channels4_profile.jpg'%}">
            <p>Все материалы сайта онлайн школы "Инглекс" готовят опытные преподаватели английского, которые умеют
                работать со студентами начальных уровней и знают, что им прдложить.</p>
        </div>
        <div class="banner banner3">
            <h3>Skyeng: онлайн-школа анеглийского языка</h3>
            <img src=" {% static 'images/skyeng.jpg'%}">
            <p>Грамматика, произношение, аудирование, примеры, задания. Для начала занятий требуется некоторый уровень
            владения английским, но пусть вас это не пугает. Уроки строятся от простого к сложному и проводятся в спокойном
            темпе.</p>
        </div>
        <div class="banner banner4">
            <h3>EnglishMaria</h3>
            <img src=" {% static 'images/english_maria.jpg'%}">
            <p>Канал русскоязычной преподавательницы, выпускницы Оксфорда Марии Батхан. Особая изюминка ее канала - подача
            информации в юмористическом ключе. С помощью окунания в различные комические ситуации можно учить новые слова,
            значения слов в разных контекстах, особенности произношения, правописание и многое другое</p>
        </div>
        <div class="banner banner5">
            <h3>Lazy_English</h3>
            <img src=" {% static 'images/lazy_english.jpg'%}">
            <p>Это один из самых популярных аккаунтов, на который подписано свыше 800 тыс. пользователей.
                Профиль яркий, с большим количеством картинок из популярных фильмов, мультфильмов и сериалов.
                Ассоциация с известным персонажем помогает легче запомнить слово.</p>
        </div>
        <div class="banner banner6">
            <h3>@eng_vlada</h3>
            <img src=" {% static 'images/eng_vlada.jpg'%}">
            <p>Это один из самых популярных аккаунтов, на который подписано свыше 800 тыс. пользователей.
                Профиль яркий, с большим количеством картинок из популярных фильмов, мультфильмов и сериалов.
                Ассоциация с известным персонажем помогает легче запомнить слово. </p>
        </div>
        <div class="banner banner7">
            <h3>englinash</h3>
            <img src=" {% static 'images/englinash.jpeg'%}">
            <p>Канал преподавательницы из США и, соответственно, кладезь произношения, идиом и выражений американского варианта английского.
                Каждый ролик сопровождается английскими субтитрами.
                Вы получаете отличную возможность тренировать качество и скорость произношения.
                Также вы найдете много роликов-уроков, посвященных грамматике и лексике</p>
        </div>
        <div class="banner banner8">
            <h3>@zaharzhadaev.english</h3>
            <img src=" {% static 'images/zahar.jpeg'%}">
            <p>Автор записывает довольно продолжительные видео, в которых подробно и не торопясь учит английскому  языку.
                С помощью этого канала сможете изучить алфавит, базовую лексику типа «как дела?» и «где туалет?»
                и научиться письменному английскому.</p>
        </div>
        <div class="banner banner9">
            <h3>@englishfuns</h3>
            <img src=" {% static 'images/englishfuns.jpeg'%}">
            <p>Она разбирает частые ошибки иностарцев , изучающих английский, дает новую лексику и объясняет идиомы</p>
        </div>

    </div>
    <button class="scroll-button right" onclick="scrollRightCustom()">&#8594;</button>
</div>

    <script src="{% static 'js/script.js' %}"></script>
</body>
</html>