{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Resources for English Olympiad</title>
    <link rel="stylesheet" href="{% static 'fontawesome/fontawesome-free-6.7.1-web/css/all.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>
    <header>
        <img class="left-image" src="{% static 'images/Preview.png' %}" alt="Пример">
        <div class="content-below-image">
            <h1>The Role of Social Networks in Learning English</h1>

            <div class="social-item">
    <div class="icon-with-text" data-filter="youtube">
        <i class="fab fa-youtube"></i>
        <span class="social-meaning arrow-container " >YouTube</span>
        <div class="arrow-container">
            <i class="fa-solid fa-chevron-down"></i>
            <ul class="dropdown-menu">
                <li><a href="https://www.youtube.com/@TED" target="_blank">TED</a></li>
                <li><a href="https://www.youtube.com/c/EnglexSchool" target="_blank">Инглекс</a></li>
                <li><a href="https://www.youtube.com/@skyengschool/featured" target="_blank">Skyeng: онлайн-школа английского языка
                </a></li>
                <li><a href="https://www.youtube.com/@EnglishMaria" target="_blank">EnglishMaria</a></li>
            </ul>
        </div>
    </div>
</div>

            <div class="social-item" data-filter="instagram">
    <div class="icon-with-text">
        <i class="fab fa-instagram"></i>
        <span class="social-meaning arrow-container">Instagram</span>
        <div class="arrow-container">
            <i class="fa-solid fa-chevron-down"></i>
            <ul class="dropdown-menu">
                        <li><a href="https://instagram.com/eng_vlada" target="_blank">@eng_vlada</a></li>
                        <li><a href="https://instagram.com/kevinteacherdowsett " target="_blank">@kevinteacherdowsett </a></li>
                        <li><a href="https://instagram.com/lazy_english" target="_blank">@lazy_english</a></li>
                    </ul>
        </div>
    </div>
</div>

                <div class="social-item" data-filter="tiktok">
                    <div class="icon-with-text">
                        <i class="fab fa-tiktok"></i>
                        <span class="social-meaning arrow-container">TikTok</span>
                        <div class="arrow-container">
                        <i class="fa-solid fa-chevron-down"></i>

 <ul class="dropdown-menu">
    <li><a href="https://www.tiktok.com/@englinash?lang=en" target="_blank">@ENGLINASH</a></li>
    <li><a href="https://www.tiktok.com/@zaharzhadaev.english" target="_blank">@zaharzhadaev.english</a></li>
    <li><a href="https://www.tiktok.com/@englishfuns" target="_blank">@englishfuns</a></li>
</ul>
                   </div>
                </div>
            </div>
        </div>

        <img class="left-image" src="{% static 'images/UK_proz.png' %}">
    </header>

<div class="banner-wrapper">
    <button class="scroll-button left" onclick="scrollLeftCustom()">&#8592;</button>
    <div class="banner-container">
        <div class="banner banner1" data-platform="youtube">
            <h3>TED</h3>
            <img src=" {% static 'images/TED.jpg'%}">
            <p>Popularizes knowledge about technology, design and other areas of life.</p>
        </div>
        <div class="banner banner2" data-platform="youtube">
            <h3>Englex</h3>
            <img src=" {% static 'images/channels4_profile.jpg'%}">
            <p>All materials on the "Inglex" online school website
                are prepared by experienced English teachers who know how to work with entry-level students and know what to offer them.</p>
        </div>
        <div class="banner banner3" data-platform="youtube">
            <h3>Skyeng: online English language school</h3>
            <img src=" {% static 'images/skyeng.jpg'%}">
            <p>Grammar, pronunciation, listening, examples, tasks. Some level of English is required to start classes,
                but don't let that scare you. The lessons are built from simple to complex and are conducted at a calm pace..</p>
        </div>
        <div class="banner banner4" data-platform="youtube">
            <h3>EnglishMaria</h3>
            <img src=" {% static 'images/english_maria.jpg'%}">
            <p>Channel of Russian-speaking teacher, Oxford graduate Maria Batkhan. A special highlight of her channel is the presentation
            information in a humorous way. </p>
        </div>
        <div class="banner banner5" data-platform="instagram">
            <h3>Lazy_English</h3>
            <img src=" {% static 'images/lazy_english.jpg'%}">
            <p>This is one of the most popular accounts, with over 800 thousand subscribers.
                The profile is bright, with a lot of pictures from popular films, cartoons and TV series.
                    </p>
        </div>
        <div class="banner banner6" data-platform="instagram">
            <h3>@eng_vlada</h3>
            <img src=" {% static 'images/eng_vlada.jpg'%}">
            <p> ский по фильмам, мультикам и сериалам.
                Преподавательница Влада учит актуальным фразам и словосочетаниям на примерах популярных молодежных сериалов.  </p>
        </div>
        <div class="banner banner7" data-platform="tiktok">
            <h3>englinash</h3>
            <img src=" {% static 'images/englinash.jpeg'%}">
            <p>Канал преподавательницы из США и, соответственно, кладезь произношения, идиом и выражений американского варианта английского.
                Каждый ролик сопровождается английскими субтитрами.
            </p>
        </div>
        <div class="banner banner8" data-platform="tiktok">
            <h3>@zaharzhadaev.english</h3>
            <img src=" {% static 'images/zahar.jpeg'%}">
            <p>Автор записывает довольно продолжительные видео, в которых подробно и не торопясь учит английскому  языку.
                С помощью этого канала сможете изучить алфавит, базовую лексику типа «как дела?» и «где туалет?»
                и научиться письменному английскому.</p>
        </div>
        <div class="banner banner9" data-platform="tiktok">
            <h3>@englishfuns</h3>
            <img src=" {% static 'images/englishfuns.jpeg'%}">
            <p>Она разбирает частые ошибки иностарцев , изучающих английский, дает новую лексику и объясняет идиомы</p>
        </div>

    </div>
    <button class="scroll-button right" onclick="scrollRightCustom()">&#8594;</button>
</div>

    <script src="{% static 'js/script.js' %}"></script>
</body>
</html>