{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Resources for English Olympiad</title>
    <link rel="stylesheet" href="{% static 'fontawesome/fontawesome-free-6.7.1-web/css/all.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>
    <header>
        <img class="left-image" src="{% static 'images/Preview.png' %}" alt="Пример">
        <div class="content-below-image">
            <h1>The Role of Social Networks in Learning English</h1>
            <div class="social-item">
    <div class="icon-with-text">
        <i class="fab fa-youtube"></i>
        <span class="social-meaning">YouTube</span>
        <div class="arrow-container">
            <i class="fa-solid fa-chevron-down"></i>
            <ul class="dropdown-menu">
                <li><a href="https://www.youtube.com/@TED" target="_blank">TED</a></li>
                <li><a href="https://www.youtube.com/c/EnglexSchool" target="_blank">Инглекс</a></li>
                <li><a href="https://www.youtube.com/@skyengschool/featured" target="_blank">Skyeng: онлайн-школа английского языка
                </a></li>
                <li><a href="https://www.youtube.com/@EnglishMaria" target="_blank">EnglishMaria</a></li>
            </ul>
        </div>
    </div>
</div>

            <div class="social-item">
    <div class="icon-with-text">
        <i class="fab fa-instagram"></i>
        <span class="social-meaning">Instagram</span>
        <div class="arrow-container">
            <i class="fa-solid fa-chevron-down"></i>
            <ul class="dropdown-menu">
                        <li><a href="https://instagram.com/eng_vlada" target="_blank">@eng_vlada</a></li>
                        <li><a href="https://instagram.com/kevinteacherdowsett " target="_blank">2.@kevinteacherdowsett </a></li>
                        <li><a href="https://instagram.com/lazy_english" target="_blank">@lazy_english</a></li>
                    </ul>
        </div>
    </div>
</div>

                <div class="social-item">
                    <div class="icon-with-text">
                        <i class="fab fa-tiktok"></i>
                        <span class="social-meaning">TikTok</span>
                        <div class="arrow-container">
                        <i class="fa-solid fa-chevron-down"></i>

 <ul class="dropdown-menu">
    <li><a href="https://www.tiktok.com/@ENGLINASH" target="_blank">@ENGLINASH</a></li>
    <li><a href="https://www.tiktok.com/@zaharzhadaev.english/" target="_blank">@zaharzhadaev.english</a></li>
    <li><a href="https://www.tiktok.com/@englishfuns/" target="_blank">@englishfuns</a></li>
</ul>
                   </div>
                </div>
            </div>
        </div>

        <img class="left-image" src="{% static 'images/UK_proz.png' %}">
    </header>

<div class="banner-wrapper">
    <button class="scroll-button left" onclick="scrollLeftCustom()">&#8592;</button>
    <div class="banner-container">
        <!-- Первые 5 баннеров -->
        <div class="banner banner1">
            <h3>TED</h3>
            <img src=" {% static 'images/TED.jpg'%}">
            <p>Популяризирует знания о технологиях, дизайне и других сферах жизни.</p>
            <p>Материалы фонда пригодятся не только для расширения кругозора, но и для изучения английского. У роликов есть субтитры
                и анимированные расшифровки: одновременно
                с речью открывается интерактивный текст, и если кликнуть на фразу или слово, видео перескочит на соответствующий момент.</p>
        </div>
        <div class="banner banner2">
            <h3>Englex</h3>
            <p>Онлайн-школа английского языка, индивидуальные занятия с преподавателями.</p>
        </div>
        <div class="banner banner3">
            <h3>Skyeng</h3>
            <p>Онлайн-школа английского, обучение с носителями языка и много ресурсов.</p>
        </div>
        <div class="banner banner4">
            <h3>EnglishMaria</h3>
            <p>Уроки и материалы для улучшения навыков английского языка.</p>
        </div>
        <div class="banner banner5">
            <h3>Lazy_English</h3>
            <p>Простой и увлекательный подход к изучению английского.</p>
        </div>
        <!-- Остальные баннеры -->
        <div class="banner banner6">
            <h3>Extra 1</h3>
            <p>Еще один баннер для проверки функционала.</p>
        </div>
        <div class="banner banner7">
            <h3>Extra 2</h3>
            <p>Описание дополнительного баннера.</p>
        </div>
        <div class="banner banner8">
            <h3>Extra 3</h3>
            <p>Описание еще одного баннера.</p>
        </div>
        <div class="banner banner9">
            <h3>Extra 4</h3>
            <p>Описание дополнительного баннера.</p>
        </div>
        <div class="banner banner10">
            <h3>Extra 5</h3>
            <p>Последний дополнительный баннер.</p>
        </div>
    </div>
    <button class="scroll-button right" onclick="scrollRightCustom()">&#8594;</button>
</div>


    <footer>
        <p>&copy; 2024 English Olympiad. All rights reserved.</p>
    </footer>

    <script src="{% static 'js/script.js' %}"></script>
</body>
</html>